.item{
  background-color:rgba(172, 171, 171, 0.51);
  width: 25%;
  border-radius: .5em;
  padding-left: 1em;
  display:flex;
  
}

.chkbx{
  margin-left: 8em;
  width: 50px;
  cursor: pointer;
  
}

.icontan{
  
  text-align:right;
}

.btn{
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 1em;
  cursor: pointer;
  
}

.btn:hover{
  background-color: rgba(172, 171, 171, 0.51);
}

.btn:active{
  background-color:white;
}
