.textwrapper{
  display:flex;
  border:3px solid black;
  border-radius:1em;
  width:35%;
  height:3.5em;
}

.text{
  padding-left:1em;
}

.close{
  background-color:transparent;
  border:0px solid transparent;
  margin-left:75%;
  cursor:pointer;
}
